/* REFERENCES
@mobileBreakpoint            : 320px;
@tabletBreakpoint            : 768px;
@computerBreakpoint          : 992px;
@largeMonitorBreakpoint      : 1280px;
@widescreenMonitorBreakpoint : 1920px;
*/

.main-container {
  min-height: 100vh;
}

iframe, embed {
  min-height: 445px;
  width: 100%;
  overflow: hidden !important;
  border: none;
}

iframe:hover {
  border: 1px solid green;
}

.button-group-spacing {
  margin: 2px 0 !important;  
}

.padding-none {
  padding: 0 !important;
}

.width-100 {
  width: 100%;
}

/* Safari is overriding position rules place them as important */
/* This is for modal closing button */
.ui.modal > .close {
  top: -2.5rem !important;
  right: -2.5rem !important;
  color: #fff !important;
}

/* Safari is overriding position rules place them as important */
/* This is for modal fixed menu on top. fixed position will not respect the modal box replaced by absolute */
.ui.modal > .content > .ui.menu.fixed {
  position: absolute !important;
}

div.ui.inverted.vertical.left.visible.sidebar.menu {
  overflow: visible !important;
}

.align-center {
  text-align: center;
}

/* Initially made for event page */

.text-capitalize {
  text-transform: capitalize;
}

.instagram-media.instagram-media-rendered {
  min-width: 0 !important;
}

.card-no-padding {
  padding: 1em 0 !important;
}

.card-no-padding iframe {
  border: none !important;
}


/* Bootstrap Start */
.d-flex {
  display: flex !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-space-between {
  justify-content: space-between !important;
}

.no-border {
  border: none !important;
}

.no-gutters {
  margin: inherit 0 !important;
}
/* Bootstrap End */