.progress-bar-padding {
    padding: 0.5rem 1em !important;
}

.campaign-description-boxSize {
    min-height: 8rem;
}

/* Is this a hack ? */
@media only screen and (max-width: 767px) {
    .campaign-card-text-padding {
        padding: 0 8px;
    }
}

.campaign-card-image-height > img {
    height: 220px !important;
}

.campagin-button-text-size > .label {
    font-size: 0.9em !important;
}

.campaign-title-height {
    min-height: 8rem;
}